:root {
  --background-color:#292f44;
  --txtcolor-celeste:#83e4cd;
  --txtcolor-white: #f7f7f8;
  --txtcolor-morado: #AEA3FD;
  --txtcolor-gris: #D7D6E0;
  --txtcolor-red: #f8c3c3;
  --txtcolor-moradoLight: #a39fbb;
  --txtcolor-moradoDark:#705fce77;
  --textcolor-orange:#f8c06c;
  --back-ground: #292f44;
  ---back-cammand: #292f44; 
	color-scheme: dark;
} 

:root[data-theme='light'] {
  --background-color:#D7D6E0;
  --txtcolor-celeste:#353C56;
  --txtcolor-white: #847EDA;
  --txtcolor-morado: #E5E5E5;
  --txtcolor-gris: #9692d8;
  --txtcolor-red: #2a4858;
  --txtcolor-moradoLight: #343b8a;
  --txtcolor-moradoDark:#705fce77; /*se deja con el mismo color*/
  --back-ground: #373d4d;
  ---back-cammand: #988edfcc; 
  --textcolor-orange:#394080;
}



*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
html{
  color-scheme: dark light;
}
body {
  min-height: 100vh;
}
img, picture, svg, video{
  display: block;
  max-width: 100%;
}


@font-face{
  font-family: 'SignikaBold';
  src: url(../../public/fonts/Signika-Bold.otf);
  font-display: 'swap';
}

@font-face{
  font-family: 'SignikaSemibold';
  src: url(../../public/fonts/Signika-Semibold.otf);
  font-display: 'swap';
}

@font-face{
  font-family: 'SignikaRegular';
  src: url(../../public/fonts/Signika-Regular.otf);
  font-display: 'swap';
}

@font-face{
  font-family: 'SignikaLight';
  src: url(../../public/fonts/Signika-Light.otf);
  font-display: 'swap';
}
