.messagecWrComand{
    color: var(--txtcolor-moradoLight);
    font-family: 'SignikaRegular';
    font-size: 1.2rem;
    margin: 5vh 0 0 0;
}

.help{
    color: var(--txtcolor-white);
    font-family: 'Signikabold';
}


.container{
    margin: .3vh 0 0 0;
}

.wrapperInput{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 500px;
}

.inputMessage{
    color: var(--txtcolor-celeste);
    font-family: 'SignikaSemibold';
    font-size: 1.1rem;
    display: inline-block;
}

.input{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    caret-color: var(--txtcolor-moradoLight);
    border: 10px;
    color: var(--txtcolor-moradoLight);
    font-family: 'SignikaSemibold';
    font-size: 1.2rem;
}


.wrapperResult{
    margin: 1vh 0 0 0;
    font-family: 'SignikaSemibold';
    background-color: var(---back-cammand);
    padding: 5px 0 5px 10px;
}

.wrapperHelp{
    width: 520px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.title{
    color: var(--textcolor-orange);
    font-size: 1.2rem;
    font-family: 'Signikabold';
}

.ls{
    color: var(--txtcolor-morado);
    font-size: 1rem;
    cursor: pointer;
}

.skillsBegin{
    color: var(--txtcolor-moradoDark);
    font-size: 1.2rem;
}

.skill{
    color: var(--txtcolor-morado);
}
